/*
  osu! UI font, Aller
  ...
  Aller isn't so great? are you kidding me?
  sorry
  */
@import url(https://aneyo.github.io/kindof-osu-alerts/fonts/Aller.css);

@keyframes show {
  0% {
    transform: translateX(200%);
  }

  25% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes move {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes die {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  /* Can't overwrite without !important cause this is the last stylesheet to load */
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Aller", sans-serif;
}

#alertu {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.osu {
  --accent: #dfdfdf;
  max-width: 285px;
  min-width: 285px;
  padding-top: 5px;
  opacity: 0;
}

#alertu * {
  opacity: 1;
}

#old-ones > .osu > .notification {
  animation: 250ms move;
  -webkit-animation: 250ms move;
}

.osu.is-dying {
  animation: die 250ms ease-in-out 0s 1 normal forwards;
}

.notification {
  min-height: 20px;
  color: #fafafa;
  font-size: 14px;
  overflow-wrap: break-word;
  background: linear-gradient(#000000ad 0%, #000000e8 50%);
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 8px 24px 12px 6px;
  box-shadow: 0 0 10px #00000075;
  animation: 1.5s show;
  -webkit-animation: 1.5s show;
}

/*
  You can change overwrites for events here
  feel free to colorize everything you want
  because these ones are not accurate at all :^(

  --accent - border color, by default #fafafa
*/

.osu.subscription,
.osu.bits,
.osu.raid,
.osu.host {
  /* Screenshots, exports, new messages */
  --accent: #872bd7;
}

.osu.follow {
  /* Someone is online, and that's it? */
  --accent: #6e8538;
}
